.row.header
  .span8
    %div{style: 'float:left;'}
      = image_tag 'bamboo-2.png', size: '75x75'
    %div.text-center
      %h1 Jessica Rowe ElderCare Consulting
      %h2 Peace of Mind for Families
