= page_header('About Us')

.row.content
  .span5
    %h1 Jessica Rowe
    %p
      Jessica Rowe, LCSW-C,  has worked for over 30 years in the field of aging, providing services to older adults and their families in Central Maryland.

    %p
      Because of her extensive work as a therapist and case manager in social services and hospice, a concierge health advisory, and private practice, Jessica has mastered the skills needed to guide families through complex decisions.  She is deeply compassionate and fully devoted to the needs of older adults.  She is particularly sensitive to the concerns of caregivers.

    %p
      Jessica is a lifelong resident of Howard County, Maryland.  She earned a BA from Dickinson College and a Master of Social Work from the University of Michigan, with a Certificate in Aging.

    %p
      Jessica presents trainings and workshops to a variety of professional and community groups.  She is an instructor with the Johns Hopkins University Certificate on Aging program and has been an instructor at the University of Maryland School of Social Work teaching graduate students who are specializing in the field of aging.

    %p
      She is a member of the National Association of Social Workers (NASW), the Aging Life Care™ Association (ALCA), and the Coalition of Geriatric Services (COGS). She is an Aging Life Care™ Manager and a Certified Advanced Social Work Case Manager (C- ASWCM).

    %p
      Jessica is a recipient of the 2015 Maryland Gerontological Association Individual Achievement Award.

  .span3
    .right
      = image_tag 'jessica.jpg'
      = link_to image_tag("alcm-logo.jpg", style: "width: 2in !important; padding-top: 20px;"), alcm_url, target: :blank, class: "alcm-logo"

.row.content
  .span5
    %h1 Barbara Bednarzik

    %p
      Barbara Bednarzik, LCSW-C, has worked in the field of aging for 30 years in Central Maryland.

    %p
      Her work has focused on providing services to older adults and their families through case management in social services, counseling and creating a supportive environment for caregivers through support groups. As Director of Winter Growth Services in Howard County for over 20 years, she gained extensive experience working with older adults and especially those with Alzheimer's disease.  Dealing with psychiatric issues with older adults has also been a strong focus of Barbara's work. She helped create a psychiatric day rehabilitation program at Winter Growth Adult Day Program Assisted Living Facility.

    %p
      Throughout her years in the social work field, she has created and presented trainings to professionals, paraprofessionals, as well as families, caregivers and community groups.

    %p
      She has been very active in the community by serving on numerous boards: Coalition of Geriatric Services (COGS), University of Maryland School of Social Work Advisory Board-Baltimore Campus, Association of Community Services Board, Howard County Mental Health Committee Board, Alzheimer's Respite Care AdvisoryBoard.

    %p
      Barbara has been a resident of Howard County for over 40 years. She received her Master of Social Work from University of Maryland, with a Concentration in Aging and a Certificate in Aging.


  .span3
    .right
      = image_tag 'barbara.jpg'
