= page_header('Assessment')

.row.content
  .span5
    %p
      Comprehensive in-home assessment of the older adult to evaluate:

    %p
      %ul
        %li home safety
        %li physical, emotional, social, and cognitive abilities 
        %li financial and legal concerns
        %li older adult and family wishes
        %li family and caregiver needs 

    %p
      A thorough and detailed report will include recommendations and an extensive list of resources and referrals.  It is best to have family or other caregivers present during the assessment.
