= page_header('Consultation')

.row.content
  .span5
    %p
      One on more in-person sessions to:

    %p
      %ul
        %li review concerns - "why now?"
        %li evaluate older adult's needs
        %li provide short- and long-term options for older adult's care
        %li provide appropriate resources and referrals
        %li provider education and support to family members in their role as caregiver, including those living out of town

    %p
      This meeting may include the older adult but can also be held with only family or other caregivers. We will meet with as many as want to participate.

    %p
      Fees available upon request.
