.row.content
  .span6.offset1
    Thank you for visiting this website. To schedule a social work continuing education program please contact:

.row.content
  .span3.offset2
    .contact-info
      %i.icon-phone
      443-980-2914
    %hr
    .contact-info
      %i.icon-envelope-alt
      = link_to 'Jessicarowe100@gmail.com', 'mailto:Jessicarowe100@gmail.com'
    %hr
    .contact-info
      P.O. Box 1475
      %br
      Columbia, MD 21044
