.row.content
  .span6.offset1
    Thank you for visiting this website.  I look forward to hearing from you about your questions and concerns.  Please let me know how I can be of help. -- Jessica 

.row.content
  .span3.offset2
    .contact-info
      %i.icon-phone
      443-980-2914
    %hr
    .contact-info
      %i.icon-envelope-alt
      = link_to 'Jessicarowe100@gmail.com', 'mailto:Jessicarowe100@gmail.com'
    %hr
    .contact-info
      P.O. Box 1475
      %br
      Columbia, MD 21044
    %hr
    .contact-info
      = brochure_link
