= page_header 'Contact Jessica'

.row.content
  .span3.offset2
    .contact-info
      %i.icon-phone
      443-980-2914
    .contact-info
      %i.icon-envelope-alt
      = link_to 'Jessicarowe100@gmail.com', 'mailto:Jessicarowe100@gmail.com'

