= page_header("Social Work Continuing Education Topics")

.row.content
  .span8
    %p
      %b Jessica Rowe ElderCare Consulting, LLC
      is authorized by the Board of Social Work Examiners of Maryland to sponsor social work continuing education programs and maintains full responsibility for the programs.

    %p
      This is a selection of the aging-related topics available for Social Work CEU presentations. I would be happy to customize other topics to meet the needs of your organization. Asterisks (**) indicate topics that can be adapted for Ethics CEUs.

  .span5
    %p
      %ul#topics
        %li Caring for Clients with a New Diagnosis**
        %li Caring for Older Adults in the LGBT (Lesbian, Gay, Bisexual, Transgender) Community**
        %li Cognitive Impairment and Dementia – Understanding Decision-making Capacity and the Right to Make Bad Decisions  **
        %li Communicating with Older Adults
        %li Creative Approaches to Caring for Older Adults with Dementia
        %li Cultural Responsiveness with Older Adults **
        %li Depression and Suicide Risk
        %li Eating and Aging:  Assessment, Education, and Intervention
        %li End-of-life Decision Making and Care **
        %li Facilitating Difficult Conversations with Clients and Families  (e.g., driving, relocation, accepting help, end-of-life care)  **
        %li Family Dynamics in Social Work with Older Adults**
        %li Intimacy, Sexuality and Aging  **
        %li Psychosocial Assessment of Older Adults
        %li The Role of Spirituality in Aging
        %li Safety for Older Adults – including driving and fall prevention
        %li Supporting Older Adult Clients through Loss and Bereavement
        %li Trauma Informed Care with Older Adults **
        %li Understanding the Needs of Family Caregivers
        %li Working as Part of an Interdisciplinary Team
        %li Working with Challenging Families of Older Adults **

