.small-caps
  = page_header('ElderCare Consulting')

.row.content
  .span3
    = image_tag 'bamboo-1.png'
  .span5
    %p
      %ul
        %li How can I remain safely at home?
        %li Who can help my parents when I live so far away?
        %li What is the best living situation for my mother?
        %li How do we plan for compassionate care at the end of life?

    %p
      Planning for an older adult’s care -- whether for yourself or for someone you love, nearby or out-of-town -- can be emotionally stressful, time consuming, and expensive. 

    %p
      %b
        Jessica Rowe ElderCare Consulting 
      is committed to lessening your worry and stress and helping you make financially wise decisions. 

.row.content
  .span5
    %p
      %ul
        %li We advise and educate family members who are caring for an older adult.
        %li We guide families through both the emotional and practical aspects of planning for an older adult's care.
        %li We provide information, support, and resources to help you make the most responsible and caring decisions, now and for the future.

    %p
      Whatever your concerns, you do not have to make these decisions alone!  

    %p
      %b
        Jessica Rowe ElderCare Consulting provides the expertise and insight you need.
