.small-caps
  = page_header('ElderCare Consulting')

.row.content
  .span3
    = image_tag 'bamboo-3.png'
  .span5
    %p
      %b Jessica Rowe ElderCare Consulting, LLC
      is no longer taking new care management clients.

    %p
      For Aging Life Care<sup>TM</sup> management please contact:
      %br
      Ellen Platt, MEd, CRC, CMM at The Option Group, LLC
      %br
      %a(href="tel:4106670266") 410-667-0266
      %br
      %a(href="http://www.theoptiongroup.net") www.theoptiongroup.net

    %p
      %b Jessica Rowe ElderCare Consulting, LLC
      continues to provide social work continuing education programs on a variety of aging-related topics.
