.small-caps
  = page_header('ElderCare Consulting')

.row.content
  .span3
    = image_tag 'bamboo-3.png'
  .span5
    %p
      %b Jessica Rowe ElderCare Consulting, LLC
      is no longer taking new care management clients and is no longer providing continuing education programs for social workers.
    %p
      For Aging Life Care<sup>TM</sup> management please contact:
      %br

    %p
      Allyson Stanton, LBSW - based in Howard County, MD
      %br
      %a(href="test:4438121028") 443-812-1028
      %br
      %a(href="mailto:abcstanton@gmail.com") abcstanton@gmail.com

    %p
      %br
      Ellen Platt, MEd, CRC, CMM at The Option Group, LLC - based in Baltimore County, MD
      %br
      %a(href="tel:4106670266") 410-667-0266
      %br
      %a(href="mailto:eplat@theoptiongroup.net") eplat@theoptiongroup.net

    %p
      OR find an Aging Life Care<sup>TM</sup> Manager in your area at "Find an Aging Life Care Expert" at
      %a(href="www.aginglifecare.org") www.aginglifecare.com

