= page_header('Eldercare Consulting')

.row.content
  .span5
    %p
      Planning for an older adult’s care, whether for yourself or for someone you love, can be emotionally stressful, time consuming, and expensive.  Often people have limited information and make decisions that are more disruptive and costly than necessary or advisable.  

    %p
      There are a growing number of community resources for older adults.  Still, it is not easy to navigate the various options without the help of an expert.  Whether you are looking for

    %p
      %ul
        %li reliable care at home
        %li housing alternatives
        %li compassionate medical care
        %li transportation
        %li legal and financial guidance

    %p
      \...you do not have to do this research or make these decisions alone!

    %p
      Jessica Rowe Eldercare Consulting is committed to helping you make financially smart decisions and to preventing unneeded worry and stress by providing information, guidance, support, and resources to create the best plan for care, now and for the future.  Addressing the concerns of family members who are caring for an older adult is an essential part of the work we do.

    %p
      It is never too early or too late to discuss needs, identify the best resources, and plan for care that will honor wishes, promote safety and independence, and provide peace of mind. 

