= page_header('Navigation')

.row.content
  .span5
    %p
      Assistance with navigating the aging services network to include

    %p
      %ul
        %li identification of specialists in home care, senior housing, legal and financial planning, health care, transportation
        %li in-depth research regarding costs and availability of services
        %li assistance with critical decisions 

