= page_header 'Services'

.row.content
  .span5
    %h2 Consultation

    %p One or more in-person sessions with older adult and/or family to:

    %p
      %ul
        %li review concerns - "why now?"
        %li clarify needs and wishes of older adult and family
        %li address family tensions and understand the range of emotions related to aging and caregiving
        %li present short- and long-term options for older adult's care
        %li provide appropriate resources and referrals
        %li educate and support caregivers

    %hr

  .span2
    = image_tag 'bamboo-2.png'

.row
  .span7

    %h2 Assessment

    %p A comprehensive in-home assessment of the older adult to evaluate:

    %p
      %ul
        %li home safety
        %li physical, emotional, social, and cognitive abilities
        %li financial and legal concerns

    %p
      A thorough report will include recommendations, resources, and referrals that take into consideration the needs of wishes of the older adult and family.

    %hr
    %h2 Navigation
  
    %p Assistance with navigating the aging services network, including:

    %p
      %ul
        %li identifying specialists in home care, senior housing, legal and financial planning, health care, transportation
        %li researching and compiling in-depth information regarding costs and availability of services
        %li communicating with health care and other providers
        %li providing families clear and personal assistance with critical decisions


.row.content
  .span12
    %p Fees upon request

    %p
      %b Jessica is also available to speak with community and professional groups.
