= page_header('Testimonials')

.row
  .span12
    %h3 The Difference ElderCare Consulting Can Make

.row.content
  .span3
    = image_tag 'bamboo-1.png'

  .span5
    .testimonial
      .text
        There were nine of us around the table with Jessica – sons, daughters, and their spouses – worried about what was best for our 90-year-old parents. We learned how to talk with Mom and Dad about our concerns, reviewed options, and identified an ideal retirement community. We created a plan that honored our parents but also kept them safe.
      .source
        \-- 60-year-old son, Ellicott City

    %hr

    .testimonial
      .text
        When my wife was diagnosed with dementia, I didn’t know where to turn.  Jessica helped me find an adult day program that my wife could attend.  I learned ways to keep us both calm when she was most confused.  I had someone who understood the loss I was experiencing.
      .source
        \-- 83-year-old husband, Mt. Airy

    %hr

.row
  .span5
    .testimonial
      .text
        I was having more trouble walking and lost interest in things I once enjoyed. After a thorough assessment, Jessica encouraged me to talk with my doctor about depression. With new medicine, I am more independent again.   I still have Parkinson’s, but life is so much easier for my wife and me.
      .source
        \-- 82-year-old man, Laurel

    %hr

    .testimonial
      .text
        Our father was in the ICU with a life-limiting illness. Jessica helped us understand the options for care at the end of life and the implications of each choice we considered.  We felt more confident as we advocated for our father’s care.
      .source
        \-- 63-year-old daughter, Richmond, VA
    %hr

    .testimonial
      .text
        When the hospital said my mother could no longer live alone, we thought the only option was a nursing home. Jessica explained we could bring Mom home with 24-hour care and helped us arrange home care while we decided the best long-term plan.
      .source
        \-- 45-year-old daughter, Columbia
