= page_header('Testimonials')

.row.content
  .span5
    .testimonial
      .text
        "When my mother started to forget her medicines we thought it was time for assisted living. We learned from Jessica that there are resources to use at home – medication reminders, home care providers.   We have preserved Mom’s assets for now and she is able to stay in her home, where she wants to be."
      .source
        \-- Karen K.


    %hr

    .testimonial
      .text
        There were nine of us around the table with Jessica – sons, daughters, and spouses – worrying about what was best for our 90-year old parents. We learned how to talk with Mom and Dad about our concerns, reviewed their options, and identified an ideal retirement community. We got the support we needed, and a plan that honored our parents but also kept them safe.
      .source
        \-- Susan D.

    %hr

    .testimonial
      .text
        When my wife was diagnosed with dementia I didn’t know where to turn. I wanted her to stay at home but knew I couldn’t take care of her all day. Jessica helped me find an adult day program that my wife could attend.  I learned ways to help Mary when she was confused that kept us both calm. I had someone who understood the loss I was experiencing.
      .source
        \-- Morris W.

    %hr

    .testimonial
      .text
        I was having more trouble walking and lost interest in things I once enjoyed. After Jessica’s thorough assessment, I was encouraged to talk with my doctor about depression.  With new medicine I am feeling much more myself. I still have Parkinson’s, but I’m more independent than I have been for months. This has made life so much easier for my wife and me.
      .source
        \-- Frank E.

    %hr

    .testimonial
      .text
        Our father was in the ICU after a heart attack. The doctors recommended a course of treatment that we believed was against our father’s wishes. Jessica helped us review his advance directive, design a list of questions for the doctor, and be confident in advocating for our father’s care.
      .source
        \-- Anita B.
    %hr

    .testimonial
      .text
        When the hospital said my mother could no longer live alone, we thought the only option was a nursing home. Jessica explained that we could bring Mom home with 24-hour care and helped us identify home care agencies while we decided on the best long-term plan.
      .source
        \-- David M.
