body
  background-color: #f2eee4

#content
  margin-top: 20px
  width: 1000px
  padding-bottom: 50px

.row.header
  h2
    padding-left: 200px

.row.navigation
  border-top: 1px solid #ccc

  .navbar
    padding-left: 10%

.row.content
  padding-top: 30px

ul.nav
  li
    border-right: 1px solid #ccc
    font-weight: bold

    &:last-child
      border-right: none


.testimonial
  .source
    margin-left: 3em
    font-style: italic

.contact-info
  padding-bottom: 10px
  font-size: large

footer
  margin-top: 40px

.right
  float: right
